<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Dear FullName, </p>

    <p>Thank you for joining the VVV Family! </p>

    <p>Kindly access your VVV <a href="http://www.aaaa.ng/Login">web app</a> to get started.</p>

    <p>You can log in with either your <b>username</b> or <b>phone number</b>.</p>

    <p>We hope to create memorable memories with you.</p> 

    <p>Thank you.</p>
       
</body>
</html>